# Build output
dist/
build/
out/
.next/
node_modules/

# Environment / secrets
.env
.env.local
.env.*.local
*.pem
*.key
user-service/backend/userservice/src/main/resources/application.yaml

# OS
.DS_Store
Thumbs.db
